/* All content setup */
:root {
    --navBar-bg-colour:#272727;
    --navItem-colour: #ffffff; 
    --navItem-colour-highlighted: #fef3c0; 

    --portfolio-item-bg-colour: lightcyan;
    --portfolio-item-container-bg-colour:#223549;

    --section-bg-colour-one: #c6dde7;
    --section-bg-colour-two: #9dd0e3;

    --navFooter-bg-colour:#3d3d3d ;

    --box-shadow-default-colour:#1b1b1b;

    --modal-contents-bg-colour: #657392;
}

html {
    scroll-behavior: smooth;
  }

@media screen and (max-width: 1000px){ 
    html {
        scroll-behavior: auto;
    }
} 

body {
    margin: 0 auto;
}

/* Header Navbar setup */
#navigationBar {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0px;
    height: 55px;

    background-color: var(--navBar-bg-colour);
    box-shadow: -15px 2px 8px dimgrey, 15px 2px 8px dimgrey;

    z-index: 1;
}

.navItem {
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: none;
    color: var(--navItem-colour);

    margin: 10px 15px;

    /* padding: 0 0px; */
    padding: 0px 3px 32px 3px;
    border-bottom: 2px solid rgba(76, 79, 47, 0.75);
    
    border-radius: 0px;

    transition: all 0.15s;
    transform: scale(1);
}

.navItem:hover {
    color:var(--navItem-colour-highlighted);
    transform: scale(1.08);   
    
    border-bottom: 8px solid lightgoldenrodyellow;
    border-radius: 7px;
}

@media screen and (max-width: 1000px){ 
    .navItem {
        margin: 10px 7.5px;

        font-size: 1.75rem;
        padding: 0px 3px 16px 3px;
    }

    .navItem:hover {
        color:var(--navItem-colour-highlighted);
        transform: scale(1.04);   
        
        border-bottom: 4px solid lightgoldenrodyellow;
        border-radius: 3.5px;
    }
} 

/* Main content setup */
main {
    margin-top: 0px;
}

/* Content section setup */
section {
    padding: 50px 10px;
}

.sectionHeader {
    margin: 0 auto;
}

section h2 {
    font-size: 2.5rem;
    margin: 35px 0px 10px 0px;
    /* padding: 0px 5px; */
}

section p {
    font-size: 1.5rem;
}

@media screen and (max-width: 1000px){ 
    section p {
        font-size: 1.25rem;
    }
} 

.alignedNodeCentre {
    margin: 0 auto;
}

/* About Section setup */
#sectionAbout {
    display: grid;

    background-color: var(--section-bg-colour-one);
}

#aboutGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0px;
    font-size: 1.25rem;
    padding: 0px;
}

#aboutGrid p {
    font-size: 1.75rem;
}

#sectionSkills {
    padding: 10px;
    border-radius: 16px;
    background-color: var(--portfolio-item-bg-colour);
}

#aboutSkillsHeading{
    font-size: 1.5rem;
    margin: 0px auto;
}

#aboutSkills ul{
    display: flex;
    margin: 0px auto;
    /* list-style:none; */
}

#aboutSkills li{
    padding: 10px 50px 5px 0px;
    font-size: 1.25rem;
}

@media screen and (max-width: 1000px){ 
    #aboutGrid { 
    grid-template-columns: 1fr;
    } 

    #aboutGrid p {
        font-size: 1.5rem;
    }

    #aboutImage {
        order: -1;
    }

    #aboutSkills ul{
        display: flex;
        flex-direction: column;
    }
} 

#aboutImage {
    margin: 0px auto;;
}

#aboutImage img {
    padding: 5px;
    border-radius: 16px;
}

/* Portfolio section setup */
#sectionPortfolio {
    background-color: var(--section-bg-colour-two);
}

#portfolioDisplay {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 20px 5px;

}

@media screen and (max-width: 1000px){ 
    #portfolioDisplay { 
    grid-template-columns: 1fr;
    } 
} 

.portfolioItemContainer {
    display: grid;
    grid-template-columns: 1fr;

    min-width: 360px; 
    min-height: 200px; 
    margin: 0 auto; 
    padding: 0px 10px;
    
    background-color: var(--portfolio-item-container-bg-colour); 
    border-radius: 10px;

    box-shadow: -0 10px 8px var(--box-shadow-default-colour);

    transition: all 0.25s;
    transform: scale(1);    
}

@media screen and (max-width: 1000px){ 
    .portfolioItemContainer { 
    min-width: 180px;
    } 
} 

.portfolioItemContainer:hover {
    transform: scale(1.025);   
}

.portfolioItemTitle {
    font-size: 2rem;
    margin: 0px 10px;
    padding: 10px auto;
    text-align: center;

    background-color: var(--portfolio-item-bg-colour);
}

.portfolioItemTitle h3 {
    margin: 10px auto;
}

.portfolioItemDescription{
    font-size: 1.75rem;
    margin: 0px 10px;
    padding: 10px 10px;
    text-align: left;

    background-color: var(--portfolio-item-bg-colour);

    float:none; 
}

@media screen and (max-width: 1000px){ 
    .portfolioItemTitle h3 {
        font-size: 1.75rem;
    }

    .portfolioItemDescription{
        font-size: 1.25rem;
    }
} 

.portfolioItemImage{
    margin: 10px auto;
    padding: 5px;

    background-color:lightsteelblue;
    border-radius: 10px;
    box-shadow: 0px 0px 20px lightsteelblue;

    float:right;
    background:var(--portfolio-item-container-bg-colour); 
    padding: 5px;
}

.portfolioItemImage.orientationLandscape {
    min-width: 180px;
    max-width: 40%;
}

.portfolioItemImage.orientationPortrait {
    max-height: 300px;
    max-width: 40%;
}

.portfolioItemImage img {
    /* max-width: 100%; */
    min-width: 140px;
    margin: 10px auto;
    height: auto;
    object-fit: contain;

    border-radius: 10px;
}

.portfolioItemLinks {
    font-size: 1.75rem;
    margin: 0px 10px;
    padding: 10px auto;
    text-align: center;

    background-color: var(--portfolio-item-bg-colour);    
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    padding: 5px;
}

.portfolioItemLinks h4 {
    margin: 10px;
}

.portfolioItemLinks a {
    font-size: 1rem;
}

.portfolioItemLinksContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.portfolioItemContainer a {
   transition: all 0.1s;
    transform: scale(1);    
}

.portfolioItemContainer a:hover {
    transform: scale(1.05);   
}

.modalOpen {
    color: var(--navItem-colour);
    background-color: var(--navBar-bg-colour);
    margin: auto;
    font-size: 1.75rem;
    text-align: center;
    padding: 5px;
    border-radius: 7px;

    transition: all 0.15s;
    transform: scale(1);
}

.modalOpen:hover {
    color:var(--navItem-colour-highlighted);
}

#modalWrapper {
    display: grid;
    align-items: stretch;
}

#modalBox {
    display: inline-block;
    position: fixed;
    margin: 10% 7.5%;
    z-index: 1;
    width: 85%;
    height: 70%;

    vertical-align: middle;
    max-height: 80%;

    border: 3px solid var(--navBar-bg-colour);
    background-color: var(--navFooter-bg-colour); 
    border-radius: 10px;
    box-shadow: -0 10px 8px var(--box-shadow-default-colour);
    overflow: hidden;
  }

#modalContents {
    display: grid;
    grid-template-columns: 1;
    height: 100%;
    align-content: start;

    background-color:var(--modal-contents-bg-colour);
    border-radius: 10px;
    margin: 10px auto; 
    padding: 20px;
    gap: 10px;
    border: 1px solid #888;

    overflow: hidden;
  }

#modalClose {
    color: var(--navItem-colour);
    background-color: var(--navBar-bg-colour);
    margin: auto;
    font-size: 2rem;
    text-align: center;
    padding: 5px;
    border-radius: 7px;

    width: 300px;

    transition: all 0.15s;
    transform: scale(1);
}

#modalClose:hover {
    color:var(--navItem-colour-highlighted);
    transform: scale(1.01);   
    
    border-radius: 7px;
}

#modalScreenshotContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;

    height: 90%;
    overflow: auto;
    min-height: 0;
    max-height: inherit;
}  

.modalScreenshot {
    min-height: 350px;
    max-height: 380px;
    object-fit: contain;

    border: 3px solid var(--navBar-bg-colour);   
    border-radius: 5px; 
}

/* Contact section setup */
#sectionContact {
    margin-bottom: 20px;

    background-color: var(--section-bg-colour-one);
}

.contactLinks {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.contactLinks a {
    font-size: 7rem;
    text-decoration: none;
    color: var(--portfolio-item-container-bg-colour);
}

/* Footer navReturn setup */
#navigationFooter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.25rem;
    padding: 10px 0px; 

    position: fixed;
    width: 100%;
    bottom: 0px;

    background-color: var(--navFooter-bg-colour);
    box-shadow: -15px -2px 8px lightsteelblue, 15px -2px 8px lightsteelblue;

    z-index: 1;
}

#navFooter {
    font-size: 1.5rem;
    transition: all 0.25s;
    transform: scale(1);

    color: var(--navItem-colour);
}

@media screen and (max-width: 1000px){ 
    #navFooter {
        text-wrap: nowrap;
        font-size: 1.25rem;

        border-bottom: none;
    }
} 

#navFooter:hover {
    color:var(--navItem-colour-highlighted);
    transform: scale(1.08);   
}

#navCopyrightInfo {
    text-wrap: nowrap;
    text-align: right;
    margin: auto 15px;

    color: var(--navItem-colour);
}