
/* Navbar setup */
#navigationBar {
    display: flex;
}

.navItem {
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: none;

    margin: 5px 15px;
    color: inherit;

    transition: all 0.25s;
    transform: scale(1);
}

.navItem:hover {
    color:aliceblue;
    transform: scale(1.07);    
}

body {
    margin: 0 auto;
}
